
@model IEnumerable<InspectionAPI.Data.ViewModel.StatusViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)<br/>                    
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOption)<br/>                    
        </td>
        
    </tr>
}